@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./src/assets/images/Background.jpg");
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}
